<section>
  <div class="page-header">
    <h1 ng-bind="vm.<%= camelizedSingularName %>.name"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.<%= camelizedSingularName %>.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.<%= camelizedSingularName %>.user" ng-bind="vm.<%= camelizedSingularName %>.user.displayName"></span>
      <span ng-if="!vm.<%= camelizedSingularName %>.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.<%= camelizedSingularName %>.status ? 'Activo' : 'Inactivo'"></p>
</section>
